Package: com.williammuff.volumecontrolxi
Name: VolumeControlXI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Use volume keys to go to previous/next media. (DOWN + UP = NEXT | UP + DOWN = PREVIOUS)
Maintainer: William Muff
Author: William Muff
Section: Tweaks
Version: 1.0.0
Installed-Size: 136
